[submodule "lib/pybind11"]
	path = lib/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "lib/msgpack-c"]
	path = lib/msgpack-c
	url = https://github.com/msgpack/msgpack-c.git
[submodule "lib/sparsepp"]
	path = lib/sparsepp
	url = https://github.com/greg7mdp/sparsepp.git
[submodule "lib/brigand"]
	path = lib/brigand
	url = https://github.com/edouarda/brigand.git
